html {
  scroll-behavior: smooth; 
}
@import "tailwindcss";
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

.animate-shine-effect {
  position: absolute;
  top: 0;
  width: 10px; /* Un haz de luz más definido */
  height: 85%;
  /* Blanco sólido para que sea imposible no verlo */
  background: rgb(235, 177, 20); 
  /* Difuminamos un poco los bordes */
  box-shadow: 0 0 15px 5px rgb(151, 114, 114);
  transform: skewX(-25deg);
  /* 2 segundos para que lo veas pasar lento */
  animation: shine 4s infinite linear;
  z-index: 5; 
  opacity: 0.8;
}